.container {
    max-width: 1040px;
    margin: 90px auto 200px;
    padding: 0 15px;
}

.container h1 {
    text-align: center;
    margin: 0 0 40px;
}

.faq {
    background-color: #fff;
    margin-bottom: 20px;
    padding: 30px;
    position: relative;
    overflow: hidden;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.25);
    transition: 0.3s ease;
}

.faqTitle {
    font-size: 22px;
    margin-right: 45px;
}

.faqText {
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 0.15px;
    line-height: 1.5;
    color: #828282;
    margin-top: 25px;
    display: none;
}

.faq.active .faqText {
    display: block;
}

.faqToggle {
    background-color: transparent;
    border: 0;
    border-radius: 50%;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    padding: 0;
    position: absolute;
    top: 30px;
    right: 30px;
}

.faqToggle:focus {
    outline: none;
}

.minus,
.plus {
    font-size: 24px;
}

.minus {
    display: none;
}

.faq.active .faqToggle .minus {
    display: block;
}

.faq.active .faqToggle .plus {
    display: none;
}

@media (max-width: 440px) {
    .faqTitle {
        font-size: 18px;
    }

    .faqText {
        font-size: 16px;
    }

    .minus,
    .plus {
        font-size: 20px;
    }
}
