.cardsContainer {
    display: flex;
    flex-wrap: wrap;
    gap: 44px;
    align-items: center;
}

.card {
    position: relative;
    width: 247px;
    height: 83px;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.cardHeader {
    position: absolute;
    top: 10px;
    right: 10px;
}

.logoContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    width: 60px;
    margin-right: 20px;
}

.logo {
    max-width: 100%;
    max-height: 100%;
}

.cardContent {
    text-align: center;
    margin-left: 10px;
}

.cardContent h3 {
    margin: 0;
    font-size: 15px;
    font-weight: 600;
    margin-right: 30px;
}

.cardContent p {
    margin: 0;
    font-size: 13px;
    color: #666666;
    margin-top: 11px;
    margin-right: 42px;
}

.cardFooter {
    position: absolute;
    bottom: 10px;
    right: 10px;
}

.editIcon,
.deleteIcon {
    font-size: 16px;
    cursor: pointer;
}
.editIcon {
    color: #00b2a9;
}
.deleteIcon {
    color: #eb5757;
}

@media (max-width: 480px) {
    .cardsContainer {
        justify-content: center;
    }

    .card {
        width: 80%;
    }
}
