.container {
    margin: 0 25px;
}

.container .registerContainer {
    display: flex;
    justify-content: space-between;
    gap: 25px;
}

.imageContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
    height: 900px;
    border-radius: 4px;
    margin-bottom: 30px;
    background-color: #eb5757;
}

.imageContainer,
.formContainer {
    width: 50%;
}

.container .imageContainer {
    position: relative;
}

.container .imageContainer img {
    width: 80%;
    height: 100%;
}

.registerContainer .formContainer {
    padding: 80px 20px;
}

.registerContainer .linkContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 60px;
    margin-bottom: 72px;
}

.registerContainer .linkContainer a {
    text-decoration: none;
    font-weight: 400;
    font-size: 30px;
    color: rgba(130, 130, 130, 1);
    letter-spacing: 2px;
    cursor: pointer;
    transition: all 150ms ease-in;
}

.registerContainer a:hover {
    color: #eb5757;
}

.formContainer .formControl {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.formContainer .form {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.formContainer label {
    font-weight: 500;
    font-size: 20px;
    letter-spacing: 3%;
    color: #4f4f4f;
}

.formContainer .formControl input {
    background-color: #ffe7e7;
    border: 0;
    border-radius: 5px;
    padding: 22px 24px;
    font-size: 18px;
}

.inputContainer {
    position: relative;
}

.inputContainer input {
    width: 100%;
}

.faEye {
    position: absolute;
    right: 15px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    color: var(--gray);
    font-size: 28px;
}

.formContainer .formControl input:focus {
    outline: none;
}

.formContainer .buttonContainer button {
    background-color: #eb5757;
    color: #fff;
    width: 100%;
    font-weight: 500;
    font-size: 22px;
    padding: 20px;
    border: 0;
    border-radius: 5px;
    margin-top: 30px;
    transition: all 100ms ease;
}

.formContainer .buttonContainer button:hover {
    transform: scale(0.98);
    opacity: 0.9;
}

.linkContainer a.active {
    color: #eb5757;
}

@media (max-width: 820px) {
    .registerContainer {
        flex-direction: column;
        align-items: center;
        margin: 0;
    }

    .registerContainer .formContainer {
        padding: 20px;
    }

    .imageContainer {
        width: 95%;
        height: 300px;
        margin: 15px 20px;
    }

    .imageContainer img {
        width: 100%;
        height: 100%;
    }

    .formContainer {
        padding: 20px;
        width: 100%;
    }
}

@media (max-width: 460px) {
    .imageContainer {
        height: 200px;
    }

    .registerContainer .linkContainer {
        gap: 35px;
    }

    .registerContainer .linkContainer a {
        font-size: 24px;
    }

    .formContainer label {
        font-size: 18px;
    }

    .formControl {
        position: relative;
    }

    .formControl input {
        background-color: rgba(255, 231, 231, 1);
        border-radius: 5px;
        border: none;
        font-size: 18px;
        padding-left: 24px;
        color: var(--gray);
    }
}
