@media (max-width: 768px) {
    .overlay {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.5);
    }

    .overlay .navbar {
        position: relative;
        top: 0;
        left: 0;
        height: 100vh;
        width: 90%;
        padding: 25px 20px;
        background-color: #c74feb;
        display: flex;
        flex-direction: column;
        overflow: scroll;
    }

    .overlay .navbar .logoContainer {
        display: flex;
        align-items: center;
        gap: 10px;
        margin-bottom: 25px;
    }

    .overlay .navbar .logoContainer .arrow {
        font-size: 24px;
        color: #fff;
        cursor: pointer;
    }

    .overlay .navbar .logoContainer a {
        font-family: 'Mukta';
        text-decoration: none;
        font-size: 24px;
        font-weight: 800;
        color: #f5f5f5;
        display: flex;
        gap: 2px;
    }

    .overlay .navbar .logoContainer span {
        color: orange;
    }

    .overlay .navbar > a {
        text-decoration: none;
        font-size: 16px;
        font-weight: 500;
        color: #fcddec;
        letter-spacing: 0.1px;
        padding: 16px 25px;
        display: flex;
        align-items: center;
        gap: 20px;
        transition: all 200ms ease-in-out;
    }

    .overlay .navbar > a .icon {
        font-size: 24px;
    }

    .overlay .navbar > a:nth-child(9) {
        margin: 40px 0;
    }

    .overlay .navbar > a.active {
        background-color: rgba(227, 134, 255, 0.3);
        border-radius: 10px;
    }

    .overlay .navbar > a:hover {
        transform: translateX(10px);
        color: #ff1f9d;
    }

    .overlay .eacamp {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 10px;
        position: absolute;
        right: 5px;
        top: 5px;
    }

    .overlay .eacamp img {
        width: 25px;
    }

    .overlay .eacamp span {
        font-family: 'Montserrat';
        font-weight: 800;
        line-height: 3%;
        color: #c7c7c7;
        opacity: 0.7;
    }
}
