.ordersContainer {
    padding: 20px;
    background-color: #F3F4F6;
}

.ordersTable {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
}

.ordersTable th, .ordersTable td {
    padding: 10px;
    text-align: left;
}

.ordersTable th {
    background-color: #f2f2f2;
}

.orderId {
    padding: 5px 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    text-align: center;
    background-color: #f2f2f2;
}

.actionMenu {
    position: relative;
    color: #828282;
}

.actionMenu .dropdownMenu {
    display: none;
    position: absolute;
    left: 18px;
    top: 5px;
    width: 70px;
    background: white;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
    z-index: 10;
}

.actionMenu:hover .dropdownMenu {
    display: block;
}

.showButton {
    color: #6FCF97;
    padding: 5px 10px;
    border: none;
    background: none;
    cursor: pointer;
    width: 100%;
    text-align: left;
    font-size: 14px;
    font-weight: bold;
}

.deleteButton {
    color: #EB5757;
    padding: 5px 10px;
    border: none;
    background: none;
    cursor: pointer;
    width: 100%;
    text-align: left;
    font-size: 14px;
    font-weight: bold;
}

.pagination {
    display: flex;
    align-items: center;
    margin-top: 20px;
}

.pageButton {
    padding: 5px 10px;
    border-radius: 6px;
    background-color: #eae6e6;
    cursor: pointer;
    border: 1px solid #ddd;
    color: #828282;
}

.pageNumber {
    margin: 0 10px;
}

.rowsPerPage {
    margin-left: auto;
    display: flex;
    align-items: center;
    color: #828282;
}

.rowsPerPage select {
    margin-left: 5px;
    padding: 6px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #f2f2f2;
    border: 2px solid #B0BAC9 ;
}

@media (max-width: 768px) {
    .ordersTable th, .ordersTable td {
        padding: 8px;
        font-size: 14px;
    }

    .pagination {
        justify-content: center;
    }

    .pageButton {
        padding: 5px 8px;
        font-size: 12px;
        margin: 2px;
    }

    .rowsPerPage {
        display: none;
    }

    .pageNumber {
        margin: 0 5px;
        font-size: 12px;
    }
}

@media (max-width: 505px) {
    .ordersTable th, .ordersTable td {
        padding: 8px;
        font-size: 12px;
    }

    .pagination {
        justify-content: center;
    }

    .pageButton {
        padding: 5px 8px;
        font-size: 12px;
        margin: 2px;
    }

    .pageNumber {
        margin: 0 5px;
        font-size: 12px;
    }
}

@media (max-width: 480px) {
    .ordersTable th, .ordersTable td {
        padding: 6px;
        font-size: 10px;
    }

    .pagination {
        justify-content: center;
    }

    .pageButton {
        padding: 4px 6px;
        font-size: 10px;
        margin: 2px;
    }

    .pageNumber {
        margin: 0 5px;
        font-size: 10px;
    }
}

@media (max-width: 320px) {
    .ordersTable th, .ordersTable td {
        padding: 5px;
        font-size: 9px;
    }

    .pagination {
        justify-content: center;
    }

    .pageButton {
        padding: 3px 6px;
        font-size: 9px;
        margin: 1px;
    }

    .pageNumber {
        margin: 0 3px;
        font-size: 9px;
    }
}
