.background {
  width: 287px;
  height: 172px;
  
  top: 96px;
  left: 17px;
  
  background-size: 1250px 600px;
  border-radius: 4px 0px 0px 0px;
  opacity: 1; 
  max-width: 100vw; 
  max-height: 110vh; 
  overflow: hidden; 
}


@media (min-width: 768px) {
  .background {
    width: 500px;
    height: 300px;
    top: 120px;
    left: 30px;
    max-width: 100vw;
    max-height: 100vh;
    z-index: 999;
  }
}

@media (min-width: 1024px) {
  .background {
    width: 1273px;
    height: 727px;
    top: 168px;
    left: 30px;
    max-width: 100vw;
    max-height: 100vh;
  }
}

