@import url('https://fonts.googleapis.com/css2?family=Mukta:wght@200;300;400;500;600;700;800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

.aboutContainer {
    display: flex;
    justify-content: space-between;
    padding: 0 25px;
    margin: 80px 0;
    gap: 20px;
}

.aboutText,
.aboutImage {
    max-width: 50%;
}

.aboutText .aboutTitle {
    font-family: 'Mutka', sans-serif;
    font-weight: 600;
    font-size: 45px;
    letter-spacing: 0.15px;
    margin-bottom: 30px;
}

.aboutText .aboutDescription,
.aboutText .pr2 {
    color: #828282;
    font-size: 20px;
    font-weight: 500;
    letter-spacing: 0.15%;
    line-height: 35px;
    max-width: 90%;
}

.aboutText .pr2 {
    display: none;
}

.aboutImage img {
    width: 100%;
}

.aboutImage .smallScreenImg {
    display: none;
}

/* Position */

.aboutImage .bigScreenImg,
.aboutImage .smallScreenImg {
    position: relative;
}

.aboutImage .absoluteImg {
    position: absolute;
    width: 270px;
}

.aboutImage .hamburger {
    top: -40px;
    left: 45%;
}

.aboutImage .pizza {
    top: 30%;
    left: 0;
}

.aboutImage .soup {
    bottom: 25%;
    right: 0;
}

.aboutImage .coffe {
    bottom: 0;
    left: 20px;
}

@media (max-width: 1250px) {
    .aboutImage .absoluteImg {
        width: 240px;
    }
}

@media (max-width: 1150px) {
    .aboutImage .absoluteImg {
        width: 210px;
    }
}

@media (max-width: 1000px) {
    .aboutImage .absoluteImg {
        width: 270px;
    }

    .aboutContainer {
        flex-direction: column;
        align-items: center;
        gap: 35px;
    }

    .aboutTitle {
        text-align: center;
    }

    .aboutText,
    .aboutImage {
        max-width: 70%;
    }

    .aboutText .aboutDescription {
        max-width: 100%;
        text-align: center;
        font-size: 18px;
        letter-spacing: 0.15%;
        line-height: 30px;
    }
}

@media (max-width: 870px) {
    .aboutImage .absoluteImg {
        width: 250px;
    }
}

@media (max-width: 768px) {
    .aboutContainer {
        margin-top: 40px;
    }

    .aboutText .aboutDescription {
        display: none;
    }

    .aboutText .pr2 {
        display: block;
        text-align: center;
        max-width: 100%;
    }

    .aboutImage .bigScreenImg {
        display: none;
    }

    .aboutImage .smallScreenImg {
        display: block;
    }

    .aboutText,
    .aboutImage {
        max-width: 90%;
    }

    .aboutImage .absoluteImg {
        width: 190px;
    }

    .aboutImage .hamburger {
        top: 20px;
        left: 50%;
        transform: translateX(-50%);
        animation: bounce-one 3.5s infinite ease-in-out;
    }
    .aboutImage .coffe {
        bottom: 60px;
        left: 50%;
        transform: translateX(-50%);
        animation: bounce-two 3.5s infinite ease-in-out;
    }

    @keyframes bounce-one {
        0%,
        100% {
            top: 0;
        }
        50% {
            top: 20px;
        }
    }

    @keyframes bounce-two {
        0%,
        100% {
            bottom: 80px;
        }
        50% {
            bottom: 60px;
        }
    }
}

@media (max-width: 440px) {
    .aboutText .aboutTitle {
        margin-bottom: 20px;
    }

    .aboutText .pr2 {
        font-size: 16px;
    }
}
