
.layout {
    display: flex;
  }
  
  .sidebar {
    width: 250px;
    background-color: #C035A2;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 256px;
      height: 474px;
   top: 80px;
     left: 16px;
   gap: 0px;
   border-radius: 20px;
   opacity: 0px;

  }
  
  .logo {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
    color: #FFF;
  }
  
  .menu {
    list-style: none;
    padding: 0;
    width: 100%;
  }
  
  .menu li {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    color: #FFF;
    cursor: pointer;
  }
  
  .menu li span {
    margin-left: 10px;
  }
  
  .main {
    flex: 1;
    padding: 20px;
  }
  