.footer {
  background-color: #181617;
  color: #fff;
  padding: 40px 0;
  text-align: center;
}

.footerContent {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  flex-wrap: wrap;
}

.socialMedia {
  max-width: 300px;
  margin-bottom: 20px;
}

.socialMedia h2 {
  font-size: 24px;
  margin-bottom: 10px;
  cursor: pointer;
}

.socialMedia p {
  font-size: 17px;
  margin-bottom: 20px;
  color: #828282
  ;
  margin-left: 20px;
  line-height: 24px;
}

.icons {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.icon {
  background-color: #555;
  border-radius: 50%;
  padding: 10px;

}

.icon svg {
  color: #FB9300
  ;
  cursor: pointer;
}

.footerLinks {
  display: flex;
  justify-content: space-around;
  flex-grow: 1;
  flex-wrap: wrap;
}

.column {
  max-width: 200px;
  margin-bottom: 20px;
}

.column h3 {
 
  
  font-weight: 900;
  font-size: 20px;
  margin-bottom: 10px;
  
 
}

.column ul {
  list-style: none;
  padding: 0;
}

.column li {
  margin-bottom: 12px;
  
 
}
.copyright {
  
  font-size: 14px;
  position: relative;
  top: 23px;
  
}

.column a {
  
  color: #BDBDBD
  ;
  text-decoration: none;
}

.column a:hover {
  text-decoration: underline;
}

.dot {
  color: #FB9300
;
}

@media (max-width: 768px) {
  .footerContent {
    flex-direction: column;
    align-items: center;
  }

  .footerLinks {
    flex-direction: column;
    align-items: center;
  }

  .column {
    max-width: 100%;
    margin-bottom: 10px;
    
  }
}

@media (max-width: 480px) {
  .socialMedia h2 {
    font-size: 25px;
    margin-top: 10px;
  }

  .socialMedia p {
    font-size: 22px;
  }

  .column h3 {
    font-size: 16px;
  }
}

