.container {
  padding: 74px 180px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Title */

.container .howItWorksTitle {
  font-size: 28px;
  font-weight: 600;
  letter-spacing: 0.15px;
  margin-bottom: 22px;
}

/* Paragraph */

.container .paragraph {
  text-align: center;
  font-weight: 500;
  letter-spacing: 0.15px;
  font-size: 20px;
  line-height: 35px;
  color: #828282;
}

/* Image container */

.container .imageContainerLarge {
  text-align: center;
  position: relative;
  margin-top: 60px;
}

.imageContainerLarge img:first-child {
  width: 800px;
}

.imageContainerLarge img:last-child {
  width: 510px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.container .imageContainerSmall {
  text-align: center;
  display: flex;
  justify-content: center;
  position: relative;
  margin: 60px;
  display: none;
}

.imageContainerSmall img:first-child {
  width: 400px;
}

.imageContainerSmall img:last-child {
  width: 310px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* Responsive */

@media (max-width: 1220px) {
  .container {
    padding: 53px 60px;
  }
}

@media (max-width: 810px) {
  .container {
    padding: 38px 50px;
  }

  .container .paragraph {
    font-size: 20px;
    width: 100%;
  }

  .imageContainerLarge img:first-child {
    width: 550px;
  }

  .imageContainerLarge img:last-child {
    width: 410px;
  }
}

@media (max-width: 640px) {
  .container .howItWorksTitle {
    font-size: 26px;
    margin-bottom: 18px;
  }

  .imageContainerLarge img:first-child {
    width: 450px;
  }

  .imageContainerLarge img:last-child {
    width: 310px;
  }
}

@media (max-width: 550px) {
  .container {
    padding: 25px 30px;
  }

  .container .imageContainerLarge {
    display: none;
  }

  .container .imageContainerSmall {
    display: block;
  }
}

@media (max-width: 440px) {
  .container .howItWorksTitle {
    font-size: 20px;
  }
  .container .paragraph {
    font-size: 18px;
  }

  .imageContainerSmall img:first-child {
    width: 300px;
  }

  .imageContainerSmall img:last-child {
    width: 210px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}
