.loginPageMain {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
    height: 900px;
    border-radius: 4px;
    margin-bottom: 30px;
    background-color: #eb5757;
}

.loginPageMain img {
    width: 100%;
    height: 100%;
}

.loginPageBody {
    display: flex;
    justify-content: space-between;
    gap: 25px;
    margin-top: 30px;
}

.loginPageLogin {
    padding: 80px 20px;
    width: 50%;
}

.loginPageLoginTitle {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 60px;
}

.loginPageLogin label {
    font-weight: 500;
    font-size: 20px;
    letter-spacing: 3%;
    color: #4f4f4f;
}

.loginPageLoginTitle h3:hover {
    color: rgba(235, 87, 87, 1);
}

.loginPageLoginInputUser {
    margin-top: 72px;
}

.loginPageLoginTitle a {
    text-decoration: none;
    font-weight: 400;
    font-size: 30px;
    color: rgba(130, 130, 130, 1);
    letter-spacing: 2px;
    cursor: pointer;
    transition: all 150ms ease-in;
}
.loginPageLoginTitle a:hover {
    color: #eb5757;
}

.loginPageLoginInputUser input,
.inputContainer input {
    background-color: rgba(255, 231, 231, 1);
    width: 100%;
    padding: 22px 24px;
    border-radius: 5px;
    margin-top: 15px;
    border: none;
    font-size: 18px;
    padding-left: 24px;
}

.loginPageLoginInputUser input:focus {
    outline: 0;
}

.loginPageLoginInputPassword {
    margin-top: 30px;
}

.inputContainer {
    position: relative;
}

.inputContainer input:focus {
    outline: none;
}

.faEye {
    position: absolute;
    right: 15px;
    top: 58%;
    transform: translateY(-50%);
    cursor: pointer;
    font-size: 28px;
}

.loginPageLoginButton {
    width: 100%;
    transition: all 100ms ease;
}

.loginPageLoginButton:hover {
    transform: scale(0.98);
    opacity: 0.9;
}

.loginPageLoginButton button {
    background-color: #eb5757;
    color: #fff;
    width: 100%;
    font-weight: 500;
    font-size: 22px;
    padding: 20px;
    border: 0;
    border-radius: 5px;
    margin-top: 60px;
    transition: all 100ms ease;
}

@media (max-width: 820px) {
    .loginPageHeader {
        height: 90px;
    }

    .loginPageBody {
        flex-direction: column;
        align-items: center;
        margin: 0;
    }

    .loginPageMain {
        width: 95%;
        height: 300px;
        margin: 15px 20px;
    }

    .loginPageMain img {
        width: 300px;
    }

    .loginPageLogin {
        padding: 20px;
        width: 100%;
    }
}

.active {
    color: #eb5757 !important;
}

@media (max-width: 460px) {
    .loginPageHeader {
        flex-direction: row;
        height: auto;
        margin: 0;
        padding: 10px;
        border-radius: 0;
    }

    .loginPageMain {
        height: 200px;
    }

    .loginPageMain img {
        width: 240px;
        height: 240px;
    }

    .loginPageLogin label {
        font-size: 18px;
    }

    .loginPageLoginTitle {
        gap: 35px;
    }

    .loginPageLoginTitle a {
        font-size: 24px;
    }
}
