.sidebar {
    width: 240px;
    background-color: #C74FEB
    ;
    color: white;
    padding: 20px;
    height: 450px;
    display: flex;
    flex-direction: column;
    border-radius: 15px;
    margin-top: 65px;
    
  }
  
  .logo {
    font-size: 1.5em;
    font-weight: bold;
    margin-top: 20px;
    text-align: center;
    margin-left: px;
    position: relative;
    left: 140px;
    
  }
  
  .menu {
    list-style-type: none;
    padding: 0;
    flex: 1;
  }
  
  .menu li {
    margin-bottom: 10px;
  }
  
  .menu li a {
    color: white;
    text-decoration: none;
    display: flex;
    align-items: center;
    padding: 10px;
    margin-left: 30px;
  }
  
   .orderss{
    background-color: #8428a3;
   }
  .menu li a:hover {
    background-color: #5a5a5a;
    padding-left: 10px;
  }
  
  .menu li a svg {
    margin-right: 10px;
    font-size: 20px;
  }
  