.tableContainer {
    margin-top: 20px;
    background-color: #fff;
    border-radius: 2px;
    padding: 5px;
    color: #3a2929;
    
  }
  
  .ordersTable th {
    background-color: #e0e0e0;
  }
  
  .sty{
    width: 100%;
    background-color:#27283C
    ;
    padding: 2px;
    border-radius: 20px;
  }
  
  .ordersTable td, .ordersTable th {
    padding: 10px;
    text-align: left;
  }
  
  .actionIcon {
    margin: 0 5px;
    cursor: pointer;
    color: #5f2b42;
  }
  
  .actionIcon:hover {
    color: #6b5f65;
  }@media (max-width: 768px) {
    .ordersTable {
      margin-left: 0;
      padding: 10px;
    }
  
    .table th, .table td {
      display: block;
      width: 100%;
    }
  
    .table thead {
      display: none;
    }
  
    .table td {
      padding: 10px 5px;
      border: none;
      border-bottom: 1px solid #eaeaea;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  
    .table td::before {
      content: attr(data-label);
      font-weight: bold;
    }
  }