.navBar {
    display: none;
    border: none;
    background-color: transparent;
    cursor: pointer;
}


.container {
    display: flex;
    flex-direction: row;
}

.menuBar {
    width: 250px;
    height: 900px;
    background-color: rgba(243, 244, 246, 1);
    margin-bottom: 66px;
    overflow: auto;
}



.menuBarTitle {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 28px;
    margin-top: 30px;
}

.menuBarTitle img {
    width: 25px;
    height: 28px;

}

.menuBarTitle a {
    text-decoration: none;
    color: rgba(51, 51, 51, 1);
    font: 600;
    font-size: 20px;
    letter-spacing: 1.1px;
    margin-left: 17px;

}


.menu {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
    margin: 23px 0px 200px 35px;
}

.menuItem {
    width: 235px;
    height: 345px;
    background-color: rgba(255, 255, 255, 1);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);

}

.menuItemName {
    display: flex;
    flex-direction: column;

}

.menuItemNameImg {
    text-align: center;
}

.menuItemNameImg img {
    width: 174px;
    height: 161px;
    margin: 18px 0;
}

.menuItemName h3 {
    font-weight: 700;
    font-size: 22px;
    letter-spacing: 1.3px;
    color:
        rgba(79, 79, 79, 1);
    width: 165px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    margin-left: 16px;

}

.menuItemName p {
    color: rgba(130, 130, 130, 1);
    font-size: 16px;
    font-weight: 400;
    letter-spacing: .9px;
    padding: 12px 23px 15px 15px;
}

.menuItemPrice {
    display: flex;
    flex-direction: row;
    align-items: center;

}

.menuItemPrice h6 {
    color:
        rgba(79, 79, 79, 1);
    font-size: 16px;
    font-weight: 700;
    padding: 0 32px 0px 16px;
}

.menuItemPrice h5 {
    background-color:
        rgba(214, 54, 38, 1);
    color: #ffffff;
    border-radius: 30px;

    width: 78px;
    height: 31px;
    border: none;
    text-align: center;
    font-weight: 500;
    letter-spacing: 1.3px;
    font-size: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
}


@media (max-width: 1300px) {
    .menuBar {
        display: none;
    }

    .navBar {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        width: 282px;
        height: 35px;
        background-color: #ffffff;
        box-shadow: 0px 3px 8px -2px rgba(0, 0, 0, 0.2);
        margin: 0 auto;
    }

    .navBarIcon {
        margin-right: 5px;
        color:
            rgba(79, 79, 79, 1);
        width: 24px;
        height: 24px;
    }

    .navBar h3 {
        color:
            rgba(79, 79, 79, 1);
        font-weight: 500;
        font-size: 16px;
        letter-spacing: 1.2px;
    }

    .mobileMenu {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        width: 100%;
        border-radius: 20px 20px 0 0;
        background-color: white;
        position: absolute;
        bottom: 0;
        padding-right: 5px;
        padding-left: 5px;
        padding-bottom: 20px;
    }

    .mobileMenuItems {
        height: 367px;
        overflow-y: auto;
        width: 100%;
    }

    .mobileMenuItem {
        height: 45px;
        padding: 3px 0px 3px 19px;
        display: flex;
        align-items: center;
    }

    .mobileMenuItem:not(:last-child) {
        border-bottom: 1px solid rgba(189, 189, 189, 1);
    }

    .mobileMenuOverlay {
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.5);
        z-index: 55555;
    }

    .mobileMenu a {
        font-size: 18px;
        color: rgba(0, 0, 0, 1);
        text-decoration: none;
        font-weight: 500;
        letter-spacing: 1px;
    }

    .mobileMenu button {
        background-color: transparent;
        border: none;
        cursor: pointer;
    }

    .closeIconMain {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
    }

    .closeIcon {
        margin-top: 15px;
        width: 35px;
        height: 35px;
        color:
            rgba(189, 189, 189, 1);
    }
}

.menu {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 24px;
    width: 100%;

}


.navBar {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 35px;
    background-color: #ffffff;
    box-shadow: 0px 3px 8px -2px rgba(0, 0, 0, 0.2);
    margin: 0 auto;

}



@media (max-width: 1000px) {
    .menuBar {
        display: none;
    }

    .menu {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 24px;
        width: 100%;

    }
}


@media (max-width: 500px) {
    .menuBar {
        display: none;
    }



    .menu {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 22px;
        width: 100%;
    }

    .menuItem {
        width: 131px;
        height: 212px;
        background-color: rgba(255, 255, 255, 1);
        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);

    }

    .menuItemName {
        display: flex;
        flex-direction: column;

    }

    .menuItemNameImg {
        text-align: center;
    }

    .menuItemNameImg img {
        width: 110px;
        height: 91px;
        margin: 10px 0 0 0;
    }

    .menuItemName h3 {
        font-weight: 500;
        font-size: 16px;
        letter-spacing: 1.3px;
        color:
            rgba(79, 79, 79, 1);
        width: 115px;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;

    }

    .menuItemName p {
        color: rgba(130, 130, 130, 1);
        font-size: 10px;
        font-weight: 400;
        padding: 8px 4px 10px 4px;
        text-align: center;
    }

    .menuItemPrice {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .menuItemPrice h6 {
        color:
            rgba(79, 79, 79, 1);
        font-size: 12px;
        font-weight: 700;

    }

    .menuItemPrice h5 {
        background-color:
            rgba(214, 54, 38, 1);
        color: #ffffff;
        border-radius: 30px;
        width: 108px;
        height: 19px;
        border: none;
        font-weight: 500;
        letter-spacing: 1.3px;
        font-size: 10px;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 5px;
    }


}